<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口名称-->
<mapper namespace="com.gbq.docker.uiproject.mapper.SysLoginMapper">

    <select id="listId" resultType="java.lang.String">
        select id
        from sys_login
    </select>
    <select id="hasExist" resultType="java.lang.Boolean">
        select count(*)
        from sys_login
        where id = #{id}
    </select>
</mapper>
