<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--接口名称-->
<mapper namespace="com.gbq.docker.uiproject.mapper.UserServiceMapper">

    <select id="listServiceByUserId" resultType="com.gbq.docker.uiproject.domain.entity.UserService">
        SELECT * FROM user_service, user_project
        WHERE
        user_service.project_id = user_project.id
        <if test="uid != null" >
            AND user_service.user_id = #{uid}
        </if>
    </select>
</mapper>
